Repository ginvoicing/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ionic-team/cli, @dwieeb, @manucorporat, @tarunjangra

removed package
  packages/@ionic/schematics-angular/page/index.d.ts
  packages/@ionic/schematics-angular/page/index.js
  packages/@ionic/schematics-angular/utils/angular/ast-utils.d.ts
  packages/@ionic/schematics-angular/utils/angular/ast-utils.js
  packages/@ionic/schematics-angular/utils/angular/change.d.ts
  packages/@ionic/schematics-angular/utils/angular/change.js
  packages/@ionic/schematics-angular/utils/angular/config.d.ts
  packages/@ionic/schematics-angular/utils/angular/config.js
  packages/@ionic/schematics-angular/utils/angular/find-module.d.ts
  packages/@ionic/schematics-angular/utils/angular/find-module.js
  packages/@ionic/schematics-angular/utils/angular/ng-ast-utils.d.ts
  packages/@ionic/schematics-angular/utils/angular/ng-ast-utils.js
  packages/@ionic/schematics-angular/utils/angular/route-utils.d.ts
  packages/@ionic/schematics-angular/utils/angular/route-utils.js
Owners: @dwieeb

new commands and branding
  packages/@ionic/cli-utils/src/lib/help.ts
  packages/ginvoicing/src/commands/config/get.ts
  packages/ginvoicing/src/commands/config/index.ts
  packages/ginvoicing/src/commands/config/unset.ts
  packages/ginvoicing/src/commands/cordova/resources.ts
  packages/ginvoicing/src/commands/index.ts
  packages/ginvoicing/src/commands/link.ts
  packages/ginvoicing/src/commands/monitoring/syncmaps.ts
  packages/ginvoicing/src/commands/start.ts
  packages/ginvoicing/src/commands/voucher/create.ts
  packages/ginvoicing/src/commands/voucher/index.ts
  packages/ginvoicing/src/index.ts
Owners: @dwieeb, @tarunjangra

fix for cli utility
  packages/ginvoicing/src/commands/index.ts
Owners: @tarunjangra

local configuration setup variable.
  packages/ginvoicing/bin/gi
Owners: @tarunjangra

fix for path
  packages/ginvoicing/src/commands/config/get.ts
  packages/ginvoicing/src/commands/config/index.ts
  packages/ginvoicing/src/commands/config/unset.ts
Owners: @tarunjangra

added puppeteer typings and node module
  packages/ginvoicing/package.json
  tsconfig.base.json
Owners: @tarunjangra, @ionic-team/cli

pdf POC
  packages/ginvoicing/src/commands/index.ts
  packages/ginvoicing/src/commands/pdf/create.ts
  packages/ginvoicing/src/commands/pdf/index.ts
  packages/ginvoicing/src/commands/voucher/create.ts
Owners: @tarunjangra

pdf creation command for ginvoicing
  packages/ginvoicing/bin/gi
  packages/ginvoicing/src/commands/pdf/create.ts
Owners: @tarunjangra

License for GInvoicing
  packages/ginvoicing/LICENSE
Owners: @tarunjangra

help text fix
  packages/ginvoicing/src/commands/pdf/create.ts
Owners: @tarunjangra

help text fix
  packages/ginvoicing/src/commands/pdf/create.ts
Owners: @tarunjangra

Publish
  packages/@ionic/cli-framework/package.json
  packages/@ionic/cli-hooks/package.json
  packages/@ionic/cli-scripts/package.json
  packages/@ionic/cli-utils/package.json
  packages/@ionic/discover/package.json
  packages/@ionic/lab/package.json
  packages/@ionic/v1-toolkit/package.json
  packages/ginvoicing/package.json
Owners: @dwieeb, @manucorporat, @tarunjangra

.github/CODEOWNERS:

*                           @ionic-team/cli

/packages/@ionic            @dwieeb
/packages/@ionic/discover   @manucorporat
/packages/ginvoicing        @tarunjangra
